<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "book_search"
        version     = "1.0.0" >

    <name>Book Search</name>
    <description>Book Search</description>
    <author href="http://vegas-pro.ucoz.ua" email="krupayaroslav@gmail.com">
		John Brown
	</author>

	<platform name="android" />
	<platform name="ios" />
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />

</widget>
